img{
	width: 100%;
	height: 100%;
}
::-webkit-scrollbar{
	-webkit-appearance:none;
	position: absolute;
	width: 0px;
}
::scrollbar{
	-webkit-appearance:none;
	appearance:none;
	position: absolute;
	width: 0px;
}
.top_header{
	z-index: 1000;
	width: 1100px;
	padding: 20px 0px;
	margin: 0 auto;
}
.header_wrapper{
}
.logo{
	vertical-align: middle;
}
.logo img{
	width: 75px;
	height: 80px;
}
.menu{
	vertical-align: middle;
}
.menu nav{
	float: right;
	padding: 10px 0px;
}
.menu nav ul li{
	list-style: none;
	display: inline-block;
	padding: 10px 10px;
}
.menu nav ul li:hover{
	border-bottom: 2px solid orange;
}
.menu nav ul li a{
	color: #fff;
	font-size: 15px;
}
.menu nav ul li a:hover{
	text-decoration: none;
}
.phone_space img, p{
	display: inline-block;
}
.phone_space p{
	color: #fff;
	font-size: 14px;
}
.phone_space p span{
	font-weight: bold;
	font-size: 16px;
}
.top_menu_li_active{
	border-bottom:2px solid orange;
}

.phone_space{
	vertical-align: middle;
	padding-top: 20px;
}
.phone_space img{
	width: 25px;
	height: 25px;
	display: inline-block;
}
.phone_space .slash{
	color: orange;
}
.inner_phone{
	float: right;
}
.dash{
	width: 20px;
	height: 5px;
	background: orange;
}

.slider_btn{
	padding: 10px 50px;
	border:0px;
	border-radius: 100px;
	background: linear-gradient(to top,#fd8701,#f5ad03);
	box-shadow: 0px 0px 10px 1px rgba(146, 88, 15, 0.84);
	color: #fff;
	cursor: pointer;
	-webkit-transition:all ease-in-out .5s;
	-moz-transition:all ease-in-out .5s;
	-o-transition:all ease-in-out .5s;
	transition:all ease-in-out .5s;
}
.slider_btn:hover{
	transform: translateY(10px);
	-webkit-transition:all ease-in-out .5s;
	-moz-transition:all ease-in-out .5s;
	-o-transition:all ease-in-out .5s;
	transition:all ease-in-out .5s;
}

.slider_decore{
	width: 1000px;
	height: 1000px;
	position: absolute;
	top: 0px;
	left: 0px;
	transform: translate(-370px,-260px);
	z-index: -1;
}

.slider_list li:before{
	content: '';
	width: 10px;
	height: 10px;
	display: inline-block;
	background: orange;
	position: absolute;
	left: 10px;
	top: 27px;
	border-radius: 100px;
}
.slider_list li{
	display: inline-block;
	width: 30%;
	padding: 20px 25px;
	position: relative;
	background: rgba(0,0,0,0.2);
	cursor: pointer;
	border-radius: 5px;
	-webkit-transition:all ease-in-out .3s;
	-moz-transition:all ease-in-out .3s;
	-o-transition:all ease-in-out .3s;
	transition:all ease-in-out .3s;
}
.slider_list li:hover{
	background: rgba(0,0,0,0.4);
	-webkit-transition:all ease-in-out .3s;
	-moz-transition:all ease-in-out .3s;
	-o-transition:all ease-in-out .3s;
	transition:all ease-in-out .3s;
}
.slider_list li h5{
	font-size: 16px;
	color: #fff;
	font-weight: bold;
}
.slider_list li p{
	font-size: 13px;
	color: #fff;
	opacity: .7;

}
.btn_holder{

}
.slider_upsite_text{
	height: 20px;
	transform: rotate(90deg);
}
.slider_upsite_text p{
text-rendering: optimizeSpeed;
    font-stretch: 100deg;
    letter-spacing: 3rem;
    font-size: 12px;
    opacity: .7;
}
.about{
	padding: 80px 0px;
}
.section_wrapper{
	width: 1000px;
	margin: 0 auto;
}